@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var articleRowData = (ArticleRowLimpet)Model.GetDataObject("articlerow");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();

    var info = new SimplisityInfo();
    if (articleRowData != null && articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }
    AddProcessData("resourcepath", appThemeView.AppThemeFolderRel + "/resx/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/");
}

<div class="w3-theme-action w3-button w3-block w3-left-align w3-section simplisity_click" s-cmd="article_addrow" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}' style="cursor:pointer;">
    @ButtonText(ButtonTypes.add)
</div>

<div class="w3-hide simplisity_click" id="rowsort" s-cmd="article_sortrows" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'></div>

<ul id="rowselectdata" class="w3-ul">

    @foreach (var articleRow in articleData.GetRows())
    {
        <li class="w3-padding w3-border-0" style="list-style-type:none;">
            <div id="@articleRow.RowKey" class="w3-card w3-padding w3-theme-l3 selectedrow w3-display-container w3-row" style="cursor:grab;">


                @if (articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
                {
                    <b>@articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/title")</b>
                }
                else if (articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/linktitle") != "")
                {
                    <b>@articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/linktitle")</b>
                }
                else if (articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/name") != "")
                {
                    <b>@articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/name")</b>
                }
                else
                {
                    <b>@articleRow.Info.GetXmlProperty("genxml/textbox/documentnamearticledoc")</b>
                }


                <hr />
                <div class="w3-left">
                    <span class="w3-button w3-circle w3-theme-action simplisity_click" style="width:40px;height:40px;padding:8px 0;" rowkey="@articleRow.RowKey" s-cmd="article_editrow" s-fields='{"selectkey":"@articleRow.RowKey","moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'>@ButtonIcon(ButtonTypes.edit)</span>
                    <span class="w3-button w3-circle w3-theme-action simplisity_confirmclick" style="width:40px;height:40px;padding:8px 0;" s-confirm="@ResourceKey("RCT.removerow")" s-cmd="article_removerow" s-fields='{"selectkey":"@articleRow.RowKey","moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'>@ButtonIcon(ButtonTypes.delete)</span>
                </div>
                <div class="w3-right">
                    @if (articleRow.Info.GetXmlPropertyBool("genxml/checkbox/hiderow"))
                    {
                        <span class="w3-button w3-circle" style="width:40px;height:40px;padding:8px 0;"><span class="material-icons">visibility_off</span></span>
                    }
                    else
                    {
                        <span class="w3-button w3-circle" style="width:40px;height:40px;padding:8px 0;"><span class="material-icons">visibility</span></span>
                    }
                </div>
            </div>
        </li>
    }
</ul>

<script>
    $(document).ready(function () {
        $('.selectedrow').removeClass('w3-theme-l3');
        $('#' + $('#rowkey').val()).addClass('w3-theme-l3');

        $("#rowselectdata").sortable({
            stop: function (event, ui) { saverowselectsort(); }
        });
        $("#rowselectdata").disableSelection();

    });

    function saverowselectsort() {
        var selectkeylist = '';
        $('.selectedrow').each(function (index, value) {
            selectkeylist += this.id + ',';
        });
        simplisity_setParamField('selectkeylist', selectkeylist)
        $('#rowsort').trigger('click');
    }

</script>

