@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@{
    AssigDataModel(Model);
    var rtnUrl = userParams.Get("viewurl");
    AddProcessDataResx(appThemeView, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/");
}

@{
    var sFieldDict = new Dictionary<string, string>();
    sFieldDict.Add("systemkey", "rocketcontentapi");
    sFieldDict.Add("moduleref", moduleData.ModuleRef);
    sFieldDict.Add("moduleid", moduleData.ModuleId.ToString());
    sFieldDict.Add("tabid", moduleData.TabId.ToString());
    sFieldDict.Add("selectkey", articleRowData.RowKey);
}
@RenderLanguageSelector("article_admindetail", sFieldDict, appThemeSystem, Model)

<div id="a-articledata" class=" w3-padding">

    <div class=" w3-margin-bottom w3-border-bottom">
        <div class="w3-bar w3-padding">
            <a href="@rtnUrl" class="w3-padding w3-button w3-black " style="text-decoration:none;" onclick="$('.simplisity_loader').show();">
                <span class="w3-hide-small">
                    @ButtonText(ButtonTypes.back)
                </span>
                <span class="w3-hide-medium w3-hide-large">
                    @ButtonIcon(ButtonTypes.back)
                </span>
            </a>
            <span class="w3-padding w3-button w3-theme-action a-savebutton simplisity_click" s-cmd="article_adminsave" s-post="#a-articledata" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'>
                <span class="w3-hide-small">
                    @ButtonText(ButtonTypes.save)
                </span>
                <span class="w3-hide-medium w3-hide-large">
                    @ButtonIcon(ButtonTypes.save)
                </span>
            </span>
            @if (UserUtils.IsAdministrator())
            {
            <span class="w3-padding w3-button w3-margin-left w3-red w3-right simplisity_confirmclick" s-cmd="article_admindelete" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'>
                <span class="w3-hide-small">
                    @ButtonText(ButtonTypes.reset)
                </span>
                <span class="w3-hide-medium w3-hide-large">
                    @ButtonIcon(ButtonTypes.reset)
                </span>
            </span>
            }
        </div>
    </div>


    [INJECT:appthemeadmin,AdminDetail.cshtml]

    @if (UserUtils.IsAdministrator())
    {
        @RenderXml(info)
    }

    @HiddenField(info,"genxml/isdirty","","false")
</div>

<div class="w3-row w3-tiny w3-padding">
    <span>Id: @articleData.ArticleId</span>
    <span>ModuleId: @moduleData.ModuleId</span>
    <span>TabId: @moduleData.TabId</span>
    <span>Ref: @articleData.DataRef</span>
</div>

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontentapi', debug: false });

        $('.simplisity_loader').hide();

        $('#isdirty').val('false');
        $('#a-articledata input').on('input', function () {
            $('#isdirty').val('true');
        });
        $('#a-articledata select').on('change', function () {
            $('#isdirty').val('true');
        });
    });
</script>
