@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="w3-row">

    <div class="w3-padding w3-row">
        <label><b>@ResourceKey("DNNrocket.linktitle")</b></label>&nbsp;@EditFlag(sessionParams)
        @TextBox(info, "genxml/lang/genxml/textbox/linktitle", "class='w3-input w3-border'", "", false)
    </div>
    <div class="w3-padding w3-row">
        <label><b>@ResourceKey("DNNrocket.link")</b></label>
        @RadioButtonList(info, "genxml/select/rbllink", "0,1,2", ResourceKey("DNNrocket.linkrbl").ToString(), "0")
    </div>

    <!-- If "Internal link" is clicked -->
    <div class="w3-row internallink w3-padding" style="display:none;">
        <div class="w3-row">
            <label><b>@ResourceKey("DNNrocket.page")</b></label>
        </div>
        <div class="w3-row">
            @TabSelectList(info, "genxml/select/linktab", "class='w3-input w3-border'", false)
        </div>
        <label><b>@ResourceKey("DNNrocket.anchor")</b></label>&nbsp;@EditFlag(sessionParams)
        @TextBox(info, "genxml/lang/genxml/textbox/linkanchor", "class='w3-input w3-border'", "", false)
    </div>

    <!-- If "External link" is clicked -->
    <div class="w3-row externallink w3-padding" style="display:none;">
        <label><b>@ResourceKey("DNNrocket.url") (http://www.example.com)</b></label>
        <div>@TextBox(info, "genxml/textbox/externalhref", "class='w3-input w3-border'", "", false)</div>
        <div class="w3-col m3">
            @CheckBox(info, "genxml/checkbox/blank", ResourceKey("DNNrocket.blank").ToString(), " class='w3-check' ", false)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var tabddlvalue = $("input:checked[name*='rbllink']").val();
        displaylinksection(tabddlvalue);
        $("input[name*='rbllink']").click(function () {
            var tabddlvalue = $(this).val();
            displaylinksection(tabddlvalue);
        });

        function displaylinksection(tabddlvalue) {
            $(".internallink").hide();
            $(".externallink").hide();
            if (tabddlvalue == 1) $(".internallink").show();
            if (tabddlvalue == 2) $(".externallink").show();
        }

    });
</script>
