@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
<div>

@{
    var linktype = linkInfo.GetXmlPropertyInt("genxml/radio/linktypearticlelink");
    var internaldisplay = "";
    var externaldisplay = "display:none;";
    if (linktype == 1)
    {
        internaldisplay = "";
        externaldisplay = "display:none;";
    }
    if (linktype == 2)
    {
        internaldisplay = "display:none;";
        externaldisplay = "";
    }
}
    <div class="w3-display-container w3-padding w3-card w3-light-grey">
    <div class="w3-row">
        <div class="w3-col m3 w3-padding">
            @RadioButtonList(linkInfo, "genxml/radio/linktypearticlelink", "1,2", ResourceKey("DNNrocket.newspaperlinkrbl").ToString(), " class='linktypeclick' linkrow='" + articlelinksLP + "' ", "1", "", false, articlelinksLP)
        </div>
        <div class="w3-col m3 w3-padding">
            <label>&nbsp;</label>
            @CheckBox(linkInfo, "genxml/checkbox/blankarticlelink", "&nbsp;" + ResourceKey("DNNrocket.blank").ToString(), " class='w3-check' ", false, false, articlelinksLP)
        </div>
        <div class="w3-col m3 w3-padding">
            <label>&nbsp;</label>
            @CheckBox(linkInfo, "genxml/checkbox/hidearticlelink", "&nbsp;" + ResourceKey("DNNrocket.hidden").ToString(), "class='w3-check'", false, false, articlelinksLP)
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col m12 w3-padding">
            <label>@ResourceKey("DNNrocket.text")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(linkInfo, "genxml/lang/genxml/textbox/namearticlelink", " class='w3-input w3-border' autocomplete='off'", "", true, articlelinksLP)
        </div>

        <!-- Internal Links -->
        <div class="w3-row m6 w3-padding internallink@(articlelinksLP)" style="@(internaldisplay);height:auto;">
            <div class="w3-row m8">
                <label>@ResourceKey("DNNrocket.page")</label>
                    @TabSelectList(linkInfo, "genxml/select/internallinkarticlelink", " class='w3-input w3-border' ", true, false, articlelinksLP)
            </div>
            <div class="w3-row m2">
                <label>@ResourceKey("DNNrocket.anchor")</label>&nbsp;@EditFlag(sessionParams)
                    @TextBox(linkInfo, "genxml/lang/genxml/textbox/anchorarticlelink", " class='w3-input w3-border' autocomplete='off'", "", true, articlelinksLP)
            </div>
        </div>

        <!-- External Links -->
        <div class="w3-row m6 w3-padding externallink@(articlelinksLP)" style="@(externaldisplay);height:auto;">
            <label>@ResourceKey("DNNrocket.manuallink")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(linkInfo, "genxml/lang/genxml/textbox/externallinkarticlelink", " class='w3-input w3-border' autocomplete='off'", "", true, articlelinksLP)
        </div>

    </div>

        @if (!singlelink)
        {
            <div class="simplisity_removelistitem w3-button  w3-display-topright w3-theme-action" s-removelist=".linklist" s-recylebin="linklistbin" style="cursor: pointer;">
                @ButtonIcon(ButtonTypes.remove)
            </div>
        }
</div>
</div>
