@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketContentAPI.Components;
@using RocketPortal.Components;

@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var articleRowData = (ArticleRowLimpet)Model.GetDataObject("articlerow");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();
    var datalist = articleRowData.GetImageList();
    var sessionParams = Model.SessionParamsData;
    var imgLP = 0;
    var scmd = Model.GetSetting("scmd");
    if (scmd == "")
    {
        scmd = "article_addimage";        
    }

    var info = new SimplisityInfo();
    if (articleRowData != null && articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }
    AddProcessDataResx(appThemeView, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/");
}

<div id="articleimageselect" class="w3-modal">
    <div class="w3-modal-content" style="width:40%;">

        <div class="" style="height: 38.5px;">
            <span onclick="$('#articleimageselect').hide();" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="w3-margin-top" style="">
            <div class="w3-container">

                <h2>@ResourceKey("DNNrocket.imageupload")</h2>
                <p>@ResourceKey("DNNrocket.imageupload", "", "Msg")</p>

                <input id="imagefileupload" class="simplisity_base64upload" s-reload="false" s-cmd="@scmd" s-post="#a-articledata" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}' type="file" name="file[]" multiple style="display:none;">
                <div class="w3-row w3-margin-bottom">
                    <span class="w3-col m12 w3-button w3-teal fileuploadaction" onclick="$('#imagefileupload').trigger('click');">@ButtonText(ButtonTypes.upload)</span>
                </div>

                <div id="simplisity-file-progress-bar" class="w3-modal w3-padding" style="z-index:9999;background-color:grey">
                    <div class="w3-modal-content w3-card-4  w3-display-middle w3-padding" style="width: 60%;">
                        <div id="progessaction">@ResourceKey("DNNrocket.imageupload")</div>
                        <div class=" w3-row w3-light-grey">
                            <div class="w3-blue simplisity-file-progress-bar" style="width:0%;height:24px;">0%</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

    });

</script>