@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
<div class="w3-panel w3-light-grey">
    <div class="w3-row-padding w3-section">
        <div class="w3-col m6">
            <label>@ResourceKey("DNNrocket.title")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@DeepL("headertitle", "headertitle")
            @TextBox(infoArticle, "genxml/lang/genxml/header/headertitle", "class='w3-input w3-border'", "", true)
        </div>
        <div class="w3-col m2">
            <label>@ResourceKey("DNNrocket.headingstyle")</label>
            @DropDownList(infoArticle, "genxml/header/headerstyle", "h1,h2,h3,h4", "H1,H2,H3,H4", "class='w3-select w3-border ' ", "", false)
        </div>
        <div class="w3-col m2">
            <label>@ResourceKey("DNNrocket.headingalign")</label>
            @RadioButtonList(infoArticle, "genxml/header/headeralign", "start,center,end", "<span class='material-icons'>format_align_left</span>,<span class='material-icons'>format_align_center</span>,<span class='material-icons'>format_align_right</span>", "", "1", "", false, 0, "")
        </div>
        <div class="w3-col m2">
            <label>@ResourceKey("DNNrocket.anchor")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(infoArticle, "genxml/lang/genxml/header/headeranchor", "class='w3-input w3-border' autocomplete='off'", "", true)
        </div>
    </div>
    <div class="w3-row-padding w3-section">
        <div class="w3-row-padding">
            <label>@ResourceKey("DNNrocket.text")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@DeepL("headertext", "headertext")
            @TextBox(infoArticle, "genxml/lang/genxml/header/headertext", "class='w3-input w3-border'", "", true)
        </div>
    </div>
</div>