@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var articlelinksLP = 1;
    var singlelink = false;
}

<div class="w3-row linklistdatasection">

    <div class="w3-bar">
        <div class="w3-button w3-bar-item w3-theme-action w3-padding simplisity_click" s-post="#a-articledata" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-cmd="article_addlink" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'>@ButtonIcon(ButtonTypes.add)</div>
        <div class="w3-button w3-bar-item w3-pale-yellow w3-padding simplisity_itemundo" s-recylebin="linklistbin" s-return="#linklistdata" s-removelist=".linklist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>

    <ul id="linklistdata" class="w3-ul">
        @foreach (var linkInfo in articleRowData.GetLinkList())
        {
            <li class="linklist w3-display-container w3-padding w3-border-0" style="list-style-type:none;">
                @SortableListIndex(linkInfo, articlelinksLP)

                [INJECT:appthemesystem,ArticleLinkFields.cshtml]

            </li>
            articlelinksLP += 1;
        }
    </ul>
</div>

[INJECT:appthemesystem,ArticleLinkFieldsJS.cshtml]
