@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var articledocumentsLP = 1;
}

<div class="w3-row documentlistdatasection">

    <div class="w3-bar">
        <div class="w3-button w3-bar-item w3-theme-action w3-padding-8" onclick="$('#articledocumentselect').show();">@ButtonIcon(ButtonTypes.add)</div>
        <div class="w3-button w3-bar-item w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="documentlistbin" s-return="#documentlistdata" s-removelist=".documentlist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>

    <ul id="documentlistdata" class="w3-ul">
        @foreach (var docInfo in articleRowData.GetDocList())
        {
            <li class="documentlist w3-display-container w3-border-0" style="list-style-type:none;">
                @SortableListIndex(docInfo, articledocumentsLP)

                <div class="w3-display-container w3-card w3-light-grey">
                    <span onclick="" class="w3-button w3-display-topright w3-theme-action simplisity_removelistitem" s-removelist=".documentlist" s-recylebin="documentlistbin">
                        @ButtonIcon(ButtonTypes.remove)
                    </span>
                    <div class="w3-row">
                        <div class="w3-col m9 w3-padding">
                            @HiddenField(docInfo, "genxml/hidden/documentpatharticledoc", "", "", false, articledocumentsLP)
                            @HiddenField(docInfo, "genxml/hidden/dockey", "", "", false, articledocumentsLP)
                            @HiddenField(docInfo, "genxml/hidden/fileextensionarticledoc", "", "", false, articledocumentsLP)
                            <label>@ResourceKey("DNNrocket.name")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(docInfo, "genxml/lang/genxml/textbox/namearticledoc", " class='w3-input w3-border' ", "", false, articledocumentsLP)
                            <label class="">@ResourceKey("DNNrocket.document")</label>
                            @TextBox(docInfo, "genxml/textbox/documentnamearticledoc", " class='w3-input w3-border w3-light-grey' disabled ", "", false, articledocumentsLP)
                            </div>
                        <div class="w3-col m3 w3-padding">
                            @CheckBox(docInfo, "genxml/lang/genxml/checkbox/documenthiddenarticledoc", "&nbsp;" + EditFlag(sessionParams) + "&nbsp;" + ResourceKey("DNNrocket.hidden").ToString(), "class='w3-check w3-margin-top'", false, true, articledocumentsLP)
                        </div>
                    </div>
                    @if (moduleData.DocumentDownloadCount)
                    {
                        var docKey = docInfo.GetXmlProperty("genxml/hidden/dockey");
                        var docCountData = articleRowData.DocumentDownloadData(docKey);
                        var docCount = docCountData.GetXmlPropertyInt("genxml/data/totaldownloads");

                        <div class="documentdownloadcount w3-container w3-border-top w3-light-grey">
                            <div class="w3-row w3-padding-small">
                                <div class="w3-col m9 w3-padding-small">
                                    <span class="w3-tag w3-green w3-round">
                                        <i class="material-icons w3-tiny">cloud_download</i>&nbsp;
                                        <strong>@docCount.ToString()</strong>
                                    </span>
                                </div>
                                <div class="w3-col m3">
                                    <span class="w3-button w3-blue w3-round w3-tiny w3-padding-small simplisity_click" s-cmd="article_documentdownloadlist" s-return="#a-articledata" @SFields("dockey", docKey, "articleid", articleData.ArticleId.ToString(), "rowkey", articleRowData.RowKey)>
                                        @ButtonIconText(ButtonTypes.history)
                                    </span>
                                </div>
                            </div>
                        </div>

                    }

                </div>

            </li>
            articledocumentsLP += 1;
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $("#documentlistdata").sortable({
            sort: function (event, ui) {
                ui.helper.css({ 'top': ui.position.top + $(window).scrollTop() + 'px' });
            },
        });
        $("#documentlistdata").disableSelection();
    });
</script>

<div id="articledocumentselect" class="w3-modal">
    <div class="w3-modal-content" style="width:40%;">

        <div class="" style="height: 38.5px;">
            <span onclick="$('#articledocumentselect').hide();" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="" style="">
            <div class="w3-container">
                <h2>@ResourceKey("DNNrocket.documentupload")</h2>
                <p>@ResourceKey("DNNrocket.documentupload", "", "Msg")</p>

                <input id="documentfileupload" class="simplisity_base64upload" s-reload="false" s-cmd="article_adddoc" s-post="#a-articledata" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}' type="file" name="file[]" multiple style="display:none;">
                <div class="w3-row w3-margin-bottom">
                    <span class="w3-col m12 w3-button w3-teal fileuploadaction" onclick="$('#documentfileupload').trigger('click');">@ButtonText(ButtonTypes.upload)</span>
                </div>

                <div id="simplisity-file-progress-bar" class="w3-modal w3-padding" style="z-index:9999;background-color:grey">
                    <div class="w3-modal-content w3-card-4  w3-display-middle w3-padding" style="width: 60%;">
                        <div id="progessaction">@ResourceKey("DNNrocket.documentupload")</div>
                        <div class=" w3-row w3-light-grey">
                            <div class="w3-blue simplisity-file-progress-bar" style="width:0%;height:24px;">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

