@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var portalContent = (PortalContentLimpet)Model.GetDataObject("portalcontent");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();
    var cmdappendix = Model.GetSetting("cmdappendix");
}

<div id="a-datasection" class="w3-container w3-margin w3-padding">

    <div class="w3-row w3-padding">
        <div class="w3-quarter">
            @CheckBox(info,"genxml/settings/disablecache", ResourceKey("DNNrocket.disablecache").ToString(),"class='w3-check'")
        </div>
        <div class="w3-quarter">
            @CheckBox(info,"genxml/settings/injectjquery", ResourceKey("DNNrocket.injectjquery").ToString(),"class='w3-check'")
        </div>
        <div class="w3-quarter">
            @CheckBox(info,"genxml/settings/disableheader", ResourceKey("DNNrocket.disableheader").ToString(),"class='w3-check'")
        </div>
       <div class="w3-quarter">
            @CheckBox(info,"genxml/settings/securesave", ResourceKey("RCT.securesave").ToString(),"class='w3-check'", true)
        </div>
    </div>
    <div class="w3-row ">
        <div class="w3-half w3-padding">
            <label>@ResourceKey("DNNrocket.name")</label>
            @TextBox(info, "genxml/settings/name"," class='w3-input w3-border' ", "RocketContent: " + moduleData.ModuleRef)
        </div>
        <div class="w3-half w3-padding">
            <label>@ResourceKey("RCT.datasource")</label>
            @ModSelectList(info, "genxml/settings/dataref", info.PortalId, " class='w3-input w3-border' ")
        </div>
    </div>


        <div class="w3-xlarge">@moduleData.ProjectName</div>
    @if (!moduleData.IsSatellite)
    {
        <div class="w3-row w3-padding">
            <div class="w3-half">
                <span class="w3-button w3-theme w3-round-xxlarge simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.edit")?" s-cmd="rocketcontentapi_resetapptheme" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId"}'>
                    @ButtonIcon(ButtonTypes.edit)
                </span>
                &nbsp;
                <span><b>@appThemeAdmin.Name &nbsp; @moduleData.AppThemeAdminVersion &nbsp; [@ResourceKey("DNNrocket.admin")]</b></span>
            </div>
        </div>        
    }
        <div class="w3-row w3-padding">
            <span class="w3-button w3-theme w3-round-xxlarge simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.edit")?" s-cmd="rocketcontentapi_resetappthemeview" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId"}'>
                @ButtonIcon(ButtonTypes.edit)
            </span>
            &nbsp;
            <span><b>@appThemeView.Name &nbsp; @moduleData.AppThemeViewVersion &nbsp; [@ResourceKey("DNNrocket.view")]</b></span>
        </div>

        <hr/>
        <div class="w3-row">
            @RenderTemplate("ThemeSettings.cshtml", appThemeAdmin, Model, true)
        </div>

</div>

<div class="w3-row w3-padding w3-tiny">
    <span>ModuleRef: @moduleData.ModuleRef TabId: @(Model.SessionParamsData.TabId)</span>
</div>

<!-- create element to update settings via API when the DNN update is clicked. -->
<span id="postsettings" class="w3-hide" s-cmd="rocketcontentapi_savesettings" s-post="#a-datasection" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@(Model.SessionParamsData.TabId)"}'></span>



<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontentapi', debug: false });
        $('.simplisity_loader').hide();

        $('a[id*="_cmdUpdate"]').off("click");
        $('a[id*="_cmdUpdate"]').click(function () {
            simplisity_callserver($('#postsettings'));
        });

    });
</script>


