@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using RocketContentAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var portalContent = (PortalContentLimpet)Model.GetDataObject("portalcontent");
    var info = portalContent.Info;
}

<div id="generaldata" class="w3-container">

    <div class="w3-row">
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("DNNrocket.active")</label>
            @CheckBox(info, "genxml/active", "", "class='w3-input w3-border w3-check'", true)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("DNNrocket.emailon")</label>
            @CheckBox(info, "genxml/emailon", "", "class='w3-input w3-border w3-check'", true)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">Debug Mode</label>
            @CheckBox(info, "genxml/debugmode", "", "class='w3-input w3-border w3-check'", false)
        </div>
    </div>

    <div class="w3-row w3-margin">
        <div class="w3-quarter w3-padding">
            <div class="w3-button w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.validate") ?" s-cmd="rocketcontentapi_validate" s-return='#completedmodelmsgreturn' s-fields='{"portalid":"@portalContent.PortalId"}' style="width:100%;">@ResourceKey("DNNrocket.validateandindex")</div>
        </div>
        <div class="w3-threequarter">
            @ResourceKey("DNNrocket.validate", "", "Help")
        </div>
    </div>

    <div class="w3-row w3-margin a-copylanguage">
        <div class="w3-quarter w3-padding">
            <label>@ResourceKey("DNNrocket.source")</label>
            @DropDownCultureCodeList(new SimplisityInfo(),"genxml/sourcelanguage"," class='w3-input w3-border'")
        </div>
        <div class="w3-quarter w3-padding">
            <label>@ResourceKey("DNNrocket.destination")</label>
            @DropDownCultureCodeList(new SimplisityInfo(),"genxml/destlanguage"," class='w3-input w3-border'")
        </div>
        <div class="w3-twoquarter w3-padding">
            <label>@ResourceKey("DNNrocket.overwrite")</label><br />
            @CheckBox(new SimplisityInfo(),"genxml/overwritelang", "","class='w3-check' style='width:80px;'")
            &nbsp;
            <span class="w3-button w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy") ?" s-return="#copyreturn" s-cmd="rocketcontentapi_copylanguage" s-post=".a-copylanguage" s-fields='{"portalid":"@portalContent.PortalId","systemkey":"rocketcontentapi"}'>@ResourceKey("DNNrocket.copy")</span>
        </div>
    </div>
    <div id="copyreturn" class="w3-xlarge w3-pale-blue w3-center">
    </div>


</div>


<script type="text/javascript">

    $(document).ready(function () {
        rpadmin.moveToTop('#systemmodal');
    });

    function docopyclipboard(element) {
        rpadmin.CopyTextToClipboard(element);
    }


</script>
