@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{

    // NOTE: All field xpath should be "genxml/remote/*"

    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();
    var cmdappendix = Model.GetSetting("cmdappendix");
}

<div id="a-datasection" class="w3-container w3-margin w3-padding">
    <div class="w3-large w3-margin-bottom">
        @ResourceKey("RCT.selectproject")        
    </div>
    @foreach (var projectInfo in projectAppThemeData.List)
    {
        <div class="w3-padding w3-third">
            <div class="w3-button w3-theme w3-round-xxlarge w3-large a-trigger simplisity_click" s-cmd="rocketcontentapi_selectappthemeproject" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","projectname":"@projectInfo.GetXmlProperty("genxml/textbox/name")","tabid":"@(Model.SessionParamsData.TabId)"}'>
                @projectInfo.GetXmlProperty("genxml/textbox/name")
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontentapi', debug: false });
        $('.simplisity_loader').hide();
        @if (projectAppThemeData.List.Count == 1)
        {
            <text>
                $('.a-trigger').trigger('click');
            </text>
        }
    });
</script>


